<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="Styles.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    
    <title>Sistema de liquidación</title>
  </head>
  <body>
    <div id="app">
      <!-- Pestaña de login -->

      <main class="container " v-if="page == 0" >
        

            <div class="abs-center" >
              <div   class="border p-3 form text-center" >
              
                <img src="Images/shoes.png" alt="Icono" class="sigIn-Icon ">
                <h1 class="sigIn-title mb-3">REGISTRARSE</h1>

                <div class="form-floating mb-3">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example" v-model.number="usserT" required>
                     
                      <option value="1">Administrador(a)</option>
                      <option value="2">Secretario(a)</option>
                      <option value="3">Vendedor(a)</option>
                      <option value="4">Ensamblador(a)</option>
                    </select>
                    <label for="floatingSelect">Cargo</label>
                  </div>
                  <div class="form-floating mb-4">
                    <input type="password" maxlength="4" minlength="4" class="form-control" id="floatingPassword" placeholder="Password" v-model.number="usserP" required>
                    <label for="floatingPassword">PIN</label>
                    <span style="color: red;" v-if="x">Ingrese un pin correcto</span>
                  </div>
                  <div>
                  <button type="button" class="btn btn-primary "  @click="login">INGRESAR</button>
                </div>
            </div>
            </div>

 
        </main>

      <!-- Header General -->
      <header class="header mb-4 sticky-top"  v-if="page != 0">
        <h1 v-text="appointment[usser.appointment-1].name"></h1>
        <h2 v-text="usser.name"></h2>
        <h5 v-text="fecha"></h5>

        <button
          type="button"
          class="btn btn-outline-light material-symbols-outlined"
          @click="logOut"
        >
          logout
        </button>
      </header>

      <!-- Pagina administrador -->

      <section class="container " id="pag-admin" v-if="page == 1">
  
            <div class="row ">
              <div class="col">
                <div class="form-floating pag-admin-info mb-3">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example" v-model.number="adminCargo">
                      <option selected>Seleccione el cargo</option>
                    
                      <option value="1" >Secretario(a)</option>
                      <option value="2">Vendedor(a)</option>
                      <option value="3" >Ensamblador(a)</option>
                    </select>
                    <label for="floatingSelect">Cargo</label>

                    
                  </div>

                   <!-- formulario Secretaria -->
                  <div class="info-sec "  v-if="adminCargo == 1">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Salario</span>
                        <span class="input-group-text">$</span>
                        <input type="number" class="form-control" aria-label="Amount (to the nearest dollar) " id="salarioSec" v-model="appointment[1].salary">
                        <span class="input-group-text">.00</span>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary" type="submit" @click="updateSec">Actualizar</button>
                    </div>

                  </div>

                 <!-- formulario vendedor -->
                  <div class="info-ven"  v-if="adminCargo == 2">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Salario</span>
                        <span class="input-group-text">$</span>
                        <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)"  id="salarioVen" v-model="appointment[2].salary">
                        <span class="input-group-text">.00</span>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Comisión 1</span>
                        
                        <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)"  id="comision1" v-model="appointment[2].commission1">
                        <span class="input-group-text">%</span>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Comisión 2</span>
                       
                        <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" id="comision2" v-model="appointment[2].commission2">
                        <span class="input-group-text">%</span>
                    </div>

                    <div class="col-12">
                      <button class="btn btn-primary" type="submit" @click="updateVen">Actualizar</button>
                    </div>

                  </div>

               
                  <!-- formulario Ensamblador -->
                  <div class="info-ens mb-3 row"  v-if="adminCargo == 3">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Salario</span>
                        <span class="input-group-text">$</span>
                        <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" id="salarioEns" v-model="appointment[3].salary">
                        <span class="input-group-text">.00</span>
                    </div>
                    <div class="form-floating mb-4 col-md-6">
                        <input type="number" class="form-control "  id="cantMaxZo" v-model="appointment[3].cantMaxZo">
                        <label for="floatingPassword">Cantidad máxima de zapatos</label>
                      </div>
                      <div class="form-floating mb-4 col-md-6">
                        <input type="number" class="form-control"  id="cantMaxZa" v-model="appointment[3].cantMaxZa">
                        <label for="floatingPassword">Cantidad máxima de zapatilla</label>
                      </div>
                      <div class="form-floating mb-4 col-md-6">
                          
                        <input type="number" class="form-control" id="priceZo" v-model="appointment[3].priceZo">
        
                        <label for="floating">Precio de ensable zapatos</label>
                      </div>
                      <div class="form-floating mb-4 col-md-6">
                          
                        <input type="number" class="form-control"  id="priceZa"  v-model="appointment[3].priceZa">
        
                        <label for="floating">Precio de ensable zapatillas</label>
                      </div>
                      <div class="col-12">
                        <button class="btn btn-primary" type="submit" @click="updateEns">Actualizar</button>
                      </div>

                  </div>
                
              </div>


              <div class="col ">

                 <!-- formulario Agregar empleado -->
                <div class="form-agregar">
                <form class="row g-3 needs-validation mb-3" novalidate>
                    <div class="col-md-4">
                      <label for="validationCustom01" class="form-label" >Full Name</label>
                      <input type="text" class="form-control" id="validationCustom01" v-model="person.name" required>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                    
                    <div class="col-md-4">
                        <label for="validationCustom03" class="form-label"  >Identificacion</label>
                        <input type="number" class="form-control" id="validationCustom03" v-model="person.cc" required>
                        <div class="invalid-feedback">
                          Please provide a valid id
                        </div>
                      </div>
                    
                    <div class="col-md-4">
                      <label for="validationCustom03" class="form-label">Telefono</label>
                      <input type="number" class="form-control" id="validationCustom03"  v-model="person.telephone" required>
                      <div class="invalid-feedback">
                        Please provide a valid phone
                      </div>
                    </div>
                    <div class="col-md-6">
                        <label for="validationCustomUsername" class="form-label">Email</label>
                        <div class="input-group has-validation">
                        
                          <input type="email" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend"  v-model="person.mail" required>
                          <div class="invalid-feedback">
                            Please choose a username.
                          </div>
                        </div>
                      </div>
                    <div class="col-md-5">
                      <label for="validationCustom04" class="form-label" >Cargo</label>
                      <select class="form-select" id="validationCustom04" v-model="person.appointment" required>
                        <option selected>Seleccione el cargo</option>
                    
                      <option value="1">Secretario(a)</option>
                      <option value="2">Vendedor(a)</option>
                      <option value="3">Ensamblador(a)</option>
                    </select>
                    
                   
                      
                      <div class="invalid-feedback">
                        Please select a valid state.
                      </div>
                    </div>

                    <div class="col-md-6">
                      <label for="validationCustomUsername" class="form-label" >PIN</label>
                      <div class="input-group has-validation">
                      
                        <input type="password" class="form-control" maxlength="4" v-model="person.pin" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                        <div class="invalid-feedback">
                          Please choose a username.
                        </div>
                      </div>
                    </div>

                    
                    
                    
                    
                  </form>
                  <div class="col-12">
                    <button class="btn btn-primary" type="submit" @click="addEmployee">Agregar</button>
                  </div>
                </div>
            
                <br>
                  
              </div>  
            </div>
            <!-- Tabla empleados -->
              <div class="row">
                  <div class="col">
                <table class=" pag-admin-emple table table-striped table-hover ">
                    <thead>
                        <tr class="text-center">
                            <th>ID</th>
                            <th>Identificación</th>
                            <th>Nombre</th>
                            <th>Telefono:</th>
                            <th>Correo:</th>
                            <th>Cargo</th>
                            <th>Salario</th>
                            <th>Liquidar</th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr v-for="(item, index) in ussers" :key="item.id" class="text-center">
                            <td v-text="item.id"></td>
                            <td v-text="item.cc"></td>
                            <td v-text="item.name"></td>
                            <td v-text="item.telephone"></td>
                            <td v-text="item.mail"></td>
                            <td v-text="appointment[item.appointment-1].name"></td>
                            <td v-text="item.salary"></td>
                            <td>
                                <button type="button" class="btn btn-outline-primary mb-3"
                                    @click="bill(item)">Liquidar</button>
                            </td>
                             
                        </tr>
                    </tbody>
    
                </table>
            </div>
            </div>

            <div class="row" v-if="nomina!= null">
              <div class="col">
               
                <!-- Nomina secretario -->
            <div class="card text-center  my-2  " v-if="option == 1" >
              
              <h5 class="card-header">NOMINA <span style="float: right;"><button @click="close" type="button" class="btn btn-dark"><strong>X</strong></button></span></h5>
              <div class="card-body">
                  <h5 class="card-title  text-center">Nombre: <span v-text="nomina.name"></span></h5>
                  <p class="card-text"> Cargo: <span v-text="nomina.appointment2"> </span></p>
                  <p class="card-text"> Salario Básico: <span v-text="nomina.salaryB"> </span></p>
                  <p class="card-text"> Horas extras: <span v-text="nomina.hourE"> </span></p>
                  <p class="card-text"> Precio Hora Extra: <span v-text="nomina.priceHourE"> </span></p>
                  <p class="card-text"> Precio Total Horas Extras: <span v-text="nomina.priceHourT"> </span></p>
                  <p class="card-text"> Salario Total Neto: <span v-text="nomina.salaryT"> </span></p>
                  
              </div>
          </div>

          <!-- Nomina vendedor -->
          <div class="card text-center  my-2  " v-if="option == 2" >
            <h5 class="card-header">NOMINA<span style="float: right;"><button @click="close" type="button" class="btn btn-dark"><strong>X</strong></button></span></h5>
            <div class="card-body">
                <h5 class="card-title  text-center">Nombre: <span v-text="nomina.name"></span></h5>
                <p class="card-text"> Cargo: <span v-text="nomina.appointment2"> </span></p>
                <p class="card-text"> Salario Básico: <span v-text="nomina.salaryB"> </span></p>
                <p class="card-text"> Total Ventas: <span v-text="nomina.totalV"> </span></p>
                
                <p class="card-text"> Comisión: <span v-text="nomina.commission"> </span></p>
                <p class="card-text"> Auxilio de Transporte: <span v-text="nomina.auxTr"> </span></p>
              
                <p class="card-text"> Salario Total Neto: <span v-text="nomina.salaryT"> </span></p>
                
            </div>
        </div>

        <!-- Nomina ensamblador -->
        <div class="card text-center  my-2  " v-if="option == 3" >
          <h5 class="card-header">NOMINA <span style="float: right;"><button @click="close" type="button" class="btn btn-dark"><strong>X</strong></button></span></h5>
          <div class="card-body">
              <h5 class="card-title  text-center">Nombre: <span v-text="nomina.name"></span></h5>
              <p class="card-text"> Cargo: <span v-text="nomina.appointment2"> </span></p>
              <p class="card-text"> Salario Básico: <span v-text="nomina.salaryB"> </span></p>
              <p class="card-text"> Horas extras: <span v-text="nomina.hourE"> </span></p>
              <p class="card-text"> Precio Hora Extra: <span v-text="nomina.priceHourE"> </span></p>
              <p class="card-text"> Precio Total Horas Extras: <span v-text="nomina.priceHourT"> </span></p>
              <p class="card-text"> Auxilio de Transporte: <span v-text="nomina.auxTr"> </span></p>
              <p class="card-text"> Total Zapatos Ensamblados: <span v-text="nomina.shoesE1"> </span></p>
              <p class="card-text"> Incremento por zapatos ensamblados: <span v-text="nomina.aumShoes"> </span></p>
              <p class="card-text"> Total Zapatillas Ensambladas: <span v-text="nomina.sneakerE1"> </span></p>
              <p class="card-text"> Incremento por Zapatillas ensambladas: <span v-text="nomina.aumSneaker"> </span></p>
              <p class="card-text"> Hijos: <span v-text="nomina.sons"> </span></p>
              <p class="card-text"> Bono por tener hijo(s): <span v-text="nomina.bonos"> </span></p>

              <p class="card-text"> Salario Total Neto: <span v-text="nomina.salaryT"> </span></p>
              
          </div>
      </div>
              </div>
            </div>


       </section>


       <!-- Pagina Secretaria -->

       <section class="container" id="pag-sec" v-if="page == 2">

        <div class="row">
          <div class="col">


            <form class="row g-3 needs-validation" novalidate>
                <div class="form-floating col-md-6" >
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example" v-model="employee">
                      <!-- <option selected  >Id Usuario</option> -->
                      <option v-for="(item, index) in ussers" :value="item"  :key="item.id">{{item.name}}</option>
                     
                    </select>
                    <label for="floatingSelect">Nombre del empleado</label>
                  </div>
                  <div class="form-floating col-md-7" v-if="employee != null">
                    <input type="number" maxlength="30" class="form-control" id="floatingPassword" placeholder="Password" v-model="employee.hourE">
                    <label for="floatingPassword">Cantidad de horas extras: </label>
                  </div>
            
              
            </form>
            <br>
            <div class="col-12">
              <button class="btn btn-primary" type="submit" @click="updateHour()">
               actualizar
              </button>
            </div>
          </div>

          <div class="col">

            <table class=" pag-admin-emple table table-striped table-hover ">
                <thead>
                    <tr class="text-center">
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Cargo</th>
                        
                        <th>Horas Extras</th>
                        
                        
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" v-for="(item, index) in ussers" :key="item.id" class="text-center">
                      <!-- v-for="(item, index) in list" :key="item.id"  -->
                        <td v-text="item.id"></td>
                        <td v-text= "item.name"></td>
                        <td v-text="appointment[item.appointment-1].name"></td>
                        <td v-text="item.hourE"></td>
                        
                        
                        
                       
                         
                    </tr>
                </tbody>

            </table>


          </div>
        </div>
       </section>

      <!-- Pagina Vendedor -->

      <section class="container" id="pag-ven" v-if="page == 3">
        <div class="row">
          <div class="col">


           
                
                  <div class="form-floating mb-3">
                    <input type="number" maxlength="30" class="form-control" id="floatingPassword" placeholder="Password" v-model.number="sale">
                    <label for="floatingPassword">Total Venta Realizada</label>
                  </div>
            
             
                <button class="btn btn-primary" type="submit" @click="addSale">
                 Agregar
                </button>
          
            
          </div>

          <div class="col">

            <table class=" pag-admin-emple table table-striped table-hover ">
                <thead>
                    <tr class="text-center">
                        <th>TOTAL VALOR VENTAS</th>
                        
                        
                    </tr>
                </thead>
                <tbody >
                  <!-- v-if="list.length" -->
                    <tr class="text-center">
                        <td v-text="usser.totalV"></td>
                        
                         
                    </tr>
                </tbody>

            </table>
            
          </div>
        </div>
      </section>

<br>


<!-- pagina del ensamblador -->
      <section class="container" id="pag-ens" v-if="page == 4">
        <div class="row">
          <div class="col">


          
               
                  <div class="form-floating col-md-7 mb-3">
                    <input type="number" maxlength="100" class="form-control" id="floatingPassword" placeholder="Password" v-model.number="shoesEn" >
                    <span class="ensam-span" v-if="(shoesEn + usser.shoesE) > appointment[usser.appointment-1].cantMaxZo ">Ha superado la cantidad máxima de zapatos</span>
                    <label for="floatingPassword">Cantidad de zapatos ensamblados</label>

                  </div>
                  <div class="form-floating col-md-7 mb-3">
                    <input type="number" maxlength="100" class="form-control" id="floatingPassword" placeholder="Password" v-model.number="sneakersEn">
                    <span class="ensam-span"  v-if="(sneakersEn + usser.sneakersE) > appointment[usser.appointment-1].cantMaxZa" >Ha superado la cantidad máxima de zapatillas</span>
                    <label for="floatingPassword">Cantidad de zapatillas ensambladas</label>

                  </div>
                 
            
              <div class="col-12">
                <button class="btn btn-primary" type="submit" @click="addShoes">
                 Agregar
                </button>
              </div>
           
          </div>

          <div class="col">

            <table class=" pag-admin-emple table table-striped table-hover ">
                <thead>
                    <tr class="text-center">
                        <th>Producto</th>
                        <th>Unidades Ensambladas</th>
                        <th>Unidades Máximas</th>
                        
                       
                        
                    </tr>
                </thead>
                <tbody>

                  <tr class="text-center">
                    <td >Zapatos</td>
                      <td v-text="usser.shoesE"></td>
                      
                      
                      <td v-text="appointment[usser.appointment-1].cantMaxZo"></td>

                  </tr>
                    <tr class="text-center">
                      <!-- v-for="(item, index) in list" :key="item.id"  -->
                        <td >Zapatillas</td>
                        <td v-text="usser.sneakersE"></td>
                        
                        
                        <td v-text="appointment[usser.appointment-1].cantMaxZa"></td>
                       
                         
                    </tr>

                   
                </tbody>

            </table>



          </div>
        </div>
      </section>
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.0-alpha.4/vue.js"></script>
  <script src="../Backend/main.js"></script>
</html>
