<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="Styles.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <title>Sistema de liquidación</title>
  </head>
  <body>
    <div id="app">
      <!-- Pestaña de login -->

      <main class="container  text-center signIn " v-if="page == 0" >

            <div class="sigIn-formulario" >

              
                <img src="Images/shoes.png" alt="Icono" class="sigIn-Icon ">
                <h1 class="sigIn-title mb-3">REGISTRARSE</h1>

                <div class="form-floating mb-3">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example" v-model.number="usserT" required>
                      <option selected>Seleccione el cargo</option>
                      <option value="1">Administrador(a)</option>
                      <option value="2">Secretario(a)</option>
                      <option value="3">Vendedor(a)</option>
                      <option value="4">Ensamblador(a)</option>
                    </select>
                    <label for="floatingSelect">Cargo</label>
                  </div>
                  <div class="form-floating mb-4">
                    <input type="password" maxlength="4" class="form-control" id="floatingPassword" placeholder="Password" v-model.number="usserP" required>
                    <label for="floatingPassword">PIN</label>
                  </div>
                  <div>
                  <button type="button" class="btn btn-primary "  @click="login">INGRESAR</button>
                </div>
            </div>
 
        </main>

      <!-- Header General -->
      <header class="header mb-4 sticky-top"  v-if="page != 0">
        <h1 v-text="usser.appointment"></h1>
        <h2 v-text="usser.name"></h2>
        <h2 v-text="fecha"></h2>

        <button
          type="button"
          class="btn btn-outline-light material-symbols-outlined"
          @click="logOut"
        >
          logout
        </button>
      </header>

      <!-- Pagina administrador -->

      <section class="container " id="pag-admin" v-if="page == 1">
  
            <div class="row ">
              <div class="col">
                <div class="form-floating pag-admin-info mb-3">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example" v-model.number="adminCargo">
                      <option selected>Seleccione el cargo</option>
                    
                      <option value="1" >Secretario(a)</option>
                      <option value="2">Vendedor(a)</option>
                      <option value="3" >Ensamblador(a)</option>
                    </select>
                    <label for="floatingSelect">Cargo</label>
                  </div>


                  <div class="info-sec "  v-if="adminCargo == 1">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Salario</span>
                        <span class="input-group-text">$</span>
                        <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)">
                        <span class="input-group-text">.00</span>
                    </div>

                  </div>

                 
                  <div class="info-ven"  v-if="adminCargo == 2">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Salario</span>
                        <span class="input-group-text">$</span>
                        <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)">
                        <span class="input-group-text">.00</span>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Comisión 1</span>
                        
                        <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)">
                        <span class="input-group-text">%</span>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Comisión 2</span>
                       
                        <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)">
                        <span class="input-group-text">%</span>
                    </div>

                  </div>

               

                  <div class="info-ens mb-3"  v-if="adminCargo == 3">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Salario</span>
                        <span class="input-group-text">$</span>
                        <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)">
                        <span class="input-group-text">.00</span>
                    </div>
                    <div class="form-floating mb-4">
                        <input type="number" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Cantidad máxima de zapatos y zapatillas</label>
                      </div>
                      <div class="form-floating mb-4">
                          
                        <input type="number" class="form-control" id="floatingPassword" placeholder="Password">
        
                        <label for="floating">Precio de ensable zapatos y zapatillas</label>
                      </div>
                  

                  </div>
                
              </div>


              <div class="col ">

                <div class="form-agregar">
                <form class="row g-3 needs-validation" novalidate>
                    <div class="col-md-4">
                      <label for="validationCustom01" class="form-label">First name</label>
                      <input type="text" class="form-control" id="validationCustom01" value="" required>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                    <div class="col-md-4">
                      <label for="validationCustom02" class="form-label">Last name</label>
                      <input type="text" class="form-control" id="validationCustom02" value="" required>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                    <div class="col-md-4">
                        <label for="validationCustom03" class="form-label">Identificacion</label>
                        <input type="text" class="form-control" id="validationCustom03" required>
                        <div class="invalid-feedback">
                          Please provide a valid id
                        </div>
                      </div>
                    
                    <div class="col-md-4">
                      <label for="validationCustom03" class="form-label">Telefono</label>
                      <input type="text" class="form-control" id="validationCustom03" required>
                      <div class="invalid-feedback">
                        Please provide a valid phone
                      </div>
                    </div>
                    <div class="col-md-6">
                        <label for="validationCustomUsername" class="form-label">Email</label>
                        <div class="input-group has-validation">
                        
                          <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                          <div class="invalid-feedback">
                            Please choose a username.
                          </div>
                        </div>
                      </div>
                    <div class="col-md-5">
                      <label for="validationCustom04" class="form-label">Cargo</label>
                      <select class="form-select" id="validationCustom04" required>
                        <option selected>Seleccione el cargo</option>
                    
                      <option value="1">Secretario(a)</option>
                      <option value="2">Vendedor(a)</option>
                      <option value="3">Ensamblador(a)</option>
                    </select>
                    
                   
                      
                      <div class="invalid-feedback">
                        Please select a valid state.
                      </div>
                    </div>

                    <div class="col-md-6">
                      <label for="validationCustomUsername" class="form-label">PIN</label>
                      <div class="input-group has-validation">
                      
                        <input type="password" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                        <div class="invalid-feedback">
                          Please choose a username.
                        </div>
                      </div>
                    </div>

                    
                    
                    
                    <div class="col-12">
                      <button class="btn btn-primary" type="submit">Agregar</button>
                    </div>
                  </form>
                </div>
            
                <br>
                  
            </div>
                
              </div>
              <div class="row">
                  <div class="col">
                <table class=" pag-admin-emple table table-striped table-hover ">
                    <thead>
                        <tr class="text-center">
                            <th>Identificación</th>
                            <th>Nombre</th>
                            <th>Telefono:</th>
                            <th>Correo:</th>
                            <th>Cargo</th>
                            <th>Salario</th>
                            <th>Liquidar</th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr  class="text-center">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td ></td>
                            <td>
                                <button type="button" class="btn btn-outline-primary mb-3"
                                    @click="bill(item)">Liquidar</button>
                            </td>
                             
                        </tr>
                    </tbody>
    
                </table>
            </div>
            </div>
             
            
          

       </section>


       <!-- Pagina Secretaria -->

       <section class="container" id="pag-sec" v-if="page == 2">

        <div class="row">
          <div class="col">


            <form class="row g-3 needs-validation" novalidate>
                <div class="form-floating col-md-6">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                      <option selected>Id Usuario</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="3">4</option>
                    </select>
                    <label for="floatingSelect">Id Usuario</label>
                  </div>
                  <div class="form-floating col-md-7">
                    <input type="number" maxlength="30" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Cantidad de horas extras: </label>
                  </div>
            
              <div class="col-12">
                <button class="btn btn-primary" type="submit">
                 actualizar
                </button>
              </div>
            </form>
          </div>

          <div class="col">

            <table class=" pag-admin-emple table table-striped table-hover ">
                <thead>
                    <tr class="text-center">
                        <th>Usuario</th>
                        <th>Cargo</th>
                        
                        <th>Horas Extras</th>
                        <th>Opciones</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                      <!-- v-for="(item, index) in list" :key="item.id"  -->
                        <td></td>
                        <td></td>
                        <td></td>
                        
                        
                        <td>
                            <button type="button" class="btn btn-outline-danger mb-3"
                                @click="bill(item)">Eliminar</button>
                        </td>
                         
                    </tr>
                </tbody>

            </table>


          </div>
        </div>
       </section>

      <!-- Pagina Vendedor -->

      <section class="container" id="pag-ven" v-if="page == 3">
        <div class="row">
          <div class="col">

            <form class="row g-3 needs-validation">
             
                <div class="col-md-6">
                  <label for="validationCustom01" class="form-label"
                    >Identificación cliente:</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    id="validationCustom01"
                    value=""
                    required
                  />
                  <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="col">
                    <label for="validationCustom01" class="form-label"
                    >Proceder a cargar productos</label
                  >
                  <button class="btn btn-primary" type="submit">
                    Cargar Cliente
                  </button>
                </div>
             
            </form>
            <br>

            <form class="row g-3 needs-validation" novalidate>
                <div class="form-floating col-md-4">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                      <option selected>ID Producto</option>
                      <option value="1">Administrador(a)</option>
                      <option value="2">Secretario(a)</option>
                      <option value="3">Vendedor(a)</option>
                      <option value="3">Ensamblador(a)</option>
                    </select>
                    <label for="floatingSelect">Id Producto</label>
                  </div>
                  <div class="form-floating col-md-5">
                    <input type="password" maxlength="30" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Cantidad Productos</label>
                  </div>
            
              <div class="col-12">
                <button class="btn btn-primary" type="submit">
                 Agregar
                </button>
              </div>
            </form>
          </div>

          <div class="col">

            <table class=" pag-admin-emple table table-striped table-hover ">
                <thead>
                    <tr class="text-center">
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Descuento</th>
                        <th>Unidades</th>
                        <th>Total</th>
                        <th>Opciones</th>
                        
                    </tr>
                </thead>
                <tbody >
                  <!-- v-if="list.length" -->
                    <tr class="text-center">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        
                        <td>
                            <button type="button" class="btn btn-outline-danger mb-3"
                                @click="bill(item)">Eliminar</button>
                        </td>
                         
                    </tr>
                </tbody>

            </table>







          </div>
        </div>
      </section>

<br>


<!-- pagina del ensamblador -->
      <section class="container" id="pag-ens" v-if="page == 4">
        <div class="row">
          <div class="col">


            <form class="row g-3 needs-validation" novalidate>
                <div class="form-floating col-md-6">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                      <option selected>ID Producto zapatilla</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="3">4</option>
                    </select>
                    <label for="floatingSelect">Id Producto</label>
                  </div>
                  <div class="form-floating col-md-7">
                    <input type="number" maxlength="100" class="form-control" id="floatingPassword" placeholder="Password" v-model="zapatosEn" >
                    <span class="ensam-span" v-if="zapatosEn > cantMax ">Ha superado la cantidad máxima de zapatos</span>
                    <label for="floatingPassword">Cantidad de zapatillas ensambladas</label>

                  </div>
            
              <div class="col-12">
                <button class="btn btn-primary" type="submit">
                 Agregar
                </button>
              </div>
            </form>
          </div>

          <div class="col">

            <table class=" pag-admin-emple table table-striped table-hover ">
                <thead>
                    <tr class="text-center">
                        <th>Producto</th>
                        <th>Unidades</th>
                        
                        <th>Opciones</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                      <!-- v-for="(item, index) in list" :key="item.id"  -->
                        <td></td>
                        <td></td>
                        
                        
                        <td>
                            <button type="button" class="btn btn-outline-danger mb-3"
                                @click="bill(item)">Eliminar</button>
                        </td>
                         
                    </tr>
                </tbody>

            </table>


          </div>
        </div>
      </section>
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.0-alpha.4/vue.js"></script>
  <script src="../Backend/main.js"></script>
</html>
